design/__pycache__
modules/__pycache__
modules/artifacts/__pycache__
modules/artifacts/metadata/__pycache__
modules/artifacts/pcap/__pycache__
modules/scenario_editor/__pycache__
modules/attacks/__pycache__
modules/devices/__pycache__
modules/live_executions/__pycache__
modules/profiles/__pycache__
modules/timeline/__pycache__
modules/communication/__pycache__
modules/comms/__pycache__
design/handlers/__pycache__
reports/*
outputs/flows/*
outputs/metadata/*
outputs/logs/*
outputs/pcap/*
saves/scenarios/*
tests/__pycache__
plugins/attacks/__pycache__/*
